.pt-20 {
  padding-top: 20px;
}

.d-center {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.mh-100 {
  min-height: 100vh !important;
}
