.shrink {
  height: 70px !important;
  box-shadow: $shadow 0px 2px 4px;
}

.hide {
  transform: translateY(-75px) !important;
}

.mb-20 {
  margin-bottom: 20px;
}

.fade-link {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  color: $lightBlue !important;

  &:hover {
    color: $whiteYellow !important;
  }
}

.button__main {
  color: $whiteYellow !important;
  background-color: transparent;
  font-size: 14px;
  font-family: $sfmono;
  line-height: 1;
  border: 1px solid $whiteYellow;
  border-radius: 2px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  padding: 18px 23px;

  &:hover {
    background-color: $lightPurple;
    transition-delay: 200ms;
  }
}

.line-title {
  position: relative;
  font-size: 30px;
  font-weight: $semibold;
  color: $headWhite;
  margin: 10px 0px 40px;
  white-space: nowrap;

  @media screen and (max-width: $screenSmMin) {
    font-size: 24px;
  }

  &::before {
    margin-right: 10px;
    font-family: $sfmono;
    font-weight: normal;
    color: $whiteYellow;
    font-size: 20px;
    position: relative;
    counter-increment: section;
    content: "0" counter(section) ".";
  }

  &::after {
    content: "";
    display: block;
    height: 2px;
    width: 300px;
    background-color: $darkShade;
    position: relative;
    margin-left: 20px;
  }
}

.subtitle {
  color: $skyBlue;
  font-size: 17px;
  line-height: 1.4;
  margin: 0px 0px 15px;
}

.wrapper {
  padding: 150px 0px;
  margin: 0px auto;
  max-width: 1000px;

  @media screen and (max-width: $screenSmMin) {
    padding: 100px 0px;
  }
}

.active__tab {
  color: $whiteYellow !important;
  background-color: $lightPurple;
}

.ty-0 {
  transform: translateY(0px);
}

.ty-1 {
  transform: translateY(42px);
}

.ty-2 {
  transform: translateY(84px);
}

.ty-3 {
  transform: translateY(126px);
}

.ty-4 {
  transform: translateY(168px);
}

.ty-5 {
  transform: translateY(210px);
}

.tx-100 {
  transform: translateX(-100px);

  @media screen and (max-width: $screenSmMin) {
    transform: none;
  }
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.blur {
  #content__holder > * {
    filter: blur(5px) brightness(0.7);
    pointer-events: auto !important;
    user-select: auto !important;
  }
}

.display-none {
  display: none;
}

// .bl-line {
//     border-left: 2px solid $blueLight;
// }
// .bb-line {
//     border-bottom: 2px solid $blueLight;
//     border-left: 0px;
// }

.vertical__header {
  position: fixed !important;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  z-index: 10;
  transform: translateX(0vw);
  visibility: visible;
  outline: 0px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

  .vertical__header--menu {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $darkPurple !important;
    width: 50vw !important;
    height: 100%;
    position: relative;
    right: 0px;
    margin-left: auto;
    box-shadow: rgba(2, 12, 27, 0.7) -10px 0px 30px -15px;
    padding: 50px;

    @media screen and (max-width: 37.5em) {
      padding: 25px;
    }
    @media screen and (max-width: 30em) {
      width: 75vw !important;
    }
    @media screen and (max-width: 20.625em) {
      padding: 10px;
    }
  }
}
