body {
  counter-reset: section;
  border: 0;
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-x: hidden;
  background: $purple !important;
  color: $lightBlue !important;
  line-height: 1.3;
  font-size: 1.25em;
  font-family: $calibre;
  width: 100%;

  @media screen and (max-width: $screenSmMin) {
    font-size: 1.125em;
  }
}

html {
  scroll-behavior: smooth;
}

.btn:focus,
.btn:active,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

ol,
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  display: inline-block;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: $semibold;
  margin: 0px 0px 10px;
}

p {
  margin: 0px 0px 15px;
}

#content__holder {
  width: 100%;
  margin: 0px auto;
  padding: 0px 100px;
  @media screen and (min-width: $screenSmMin) and (max-width: $screenSmMax) {
    // 768 - 1024
    padding: 0px 90px;
  }
  @media screen and (min-width: $screenXsMin) and (max-width: $screenXsMax) {
    // 481 - 767
    padding: 0px 15px;
  }
  @media screen and (max-width: $screenXxsMax) {
    // 320 - 480
    padding: 0px 25px;
  }
}
