/* Device = Most of the Smartphones Mobiles (Portrait) */
$screenXxsMin: 320px;
$screenXxsMax: 480px;

/* Device = Low Resolution Tablets, Mobiles (Landscape) */
$screenXsMin: 481px;
$screenXsMax: 767px;

/* Device = Tablets, Ipads (portrait) */
$screenSmMin: 768px;
$screenSmMax: 1024px;

/* Device = Laptops, Desktops */
$screenMdMin: 1025px;
$screenMdMax: 1280px;

/* Device = Desktops */
$screenLgMin: 1281px;
$screenLgMax: 1440px;

/* Higher Resolution Screens */
$screenXlgMin: 1441px;
$screenXlgMax: 2560px;

// colors
$purple: #0a192f;
$lightPurple: rgba(
  $color: #293d5a,
  $alpha: 0.9
);
$black: #0d0d0d;
$darkShade: #2d3952;
$darkredPurple: #020c1b;
$shadow: rgba(2, 12, 27, 0.9);
$darkPurple: #172a45;
$skyBlue: #8892b0;
$lightBlue: #a8b2d1;
$blueWhite: #ccd6f6;
$whiteYellow: #64ffda;
$headWhite: #e6f1ff;
$blueLight: #333f58;
$navyBlue: #606a86;

// fonts
$sfmono: "SF Mono", Fallback, monospace;
$calibre: "Calibre", Fallback, sans-serif;

// font weight
$thin: 100;
$exlight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$exbold: 800;
$exblack: 900;

// others
$navHeight: "100px";
$navScrollHeight: "70px";
